.Frame-7 {
  height: 480px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-image: linear-gradient(to bottom, #fde9e1 0%, #fce5f0 100%);
}

.Frame-5 {
  width: 1000px;
  height: 480px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 40px 0;
}

.Frame-9 {
  height: 321px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
}

.Frame-4 {
  height: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 0;
}

.Frame-3 {
  height: 153px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.Digitalise-your-business-with-up-to {
  width: 369px;
  height: 81px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Digitalise-your-business-with-up-to .text-style-1 {
  font-size: 24px;
  line-height: 1.5;
  color: #7e868c;
}

.RM5000-Grant {
  width: 414px;
  height: 80px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fe5000;
}
.RM5000-Grant .text-style-1 {
  color: #000;
}
.RM5000-Grant .text-style-2 {
  font-size: 48px;
  line-height: 1.33;
  color: #000;
}
